@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background: #ffffff;
}

html {
  direction: rtl;
}

body {
  color: var(--foreground);
  background: var(--background);
}

[dir="rtl"] {
  text-align: right;
}
